*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
main
{
    border: 1px solid black;
    max-width:1000px;
    margin: auto;
    height: 100%;
}
header, section, footer
{
    
    border: 5px solid black;
    margin: 1rem;
    text-align: center;
    color: #fff;
    background-color: aqua;
}
header
{
    min-height: 100px;

}
article
{
    display: flex;
}
section
{
    min-height: 300px;
}

footer
{
    min-height: 200px;
}
.text-1, .text-2
{
    display: inline-block;
    min-width: 200px;
    border: 5px solid black;
    background-color: aqua;
    width: 100%;
}
